		<%= hidden_field_tag "search[type]", "simple" %>
		<%= hidden_field_tag "search[latitude]", location[:lat] %>
		<%= hidden_field_tag "search[longitude]", location[:lng] %>
		<%= hidden_field_tag "search[ip]", ip %>
		<%= search_field_tag('search[name]', nil, :placeholder => "Type Something Here") %>
		<!--<%= submit_tag 'Search »', :class => "submit_once_button btn primary" %>-->
		<button class="btn" type="submit">Search »</button>
